{% extends "baseWave.twig" %}
{% block content %}
	<main>
		{% include 'hero.twig' with { 'project': project } %}
		{% include 'projectInfo.twig' with {'info': project.meta('info'), 'buttons' : project.meta('buttons')} %}
		<section class="c-projectContent">
			{{project.content}}
		</section>
		{% include 'prevNext.twig' with {'next': project.next, 'prev' : project.prev} only %}
	</main>
{% endblock %}
