{% extends "baseWave.twig" %}
{% block content %}
	<main>
		{% include 'hero.twig' with { 'project': project } %}
		{% include 'projectInfo.twig' with {'info': project.meta('info')} %}
		<section class="c-projectContent">
			{{project.content}}
		</section>
	</main>
{% endblock %}
