.c-header--behind {
	transition: z-index 1s step-start;
	position: absolute;
	top: $space * 5;
	left: $pad * 2;
	right: $pad * 2;
	bottom: 0;
	z-index: -10;

	@include media(">=medium") {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: -10;
	
		nav {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%,-50%);
		}
	}
}

.nav-open.c-header--behind {
	z-index: 10;
	transition: z-index 1s step-end;
}

$shadowSpread: 2px;

.current-menu-item {
	.c-nav-main--link::after{
		width: 100%;
		left: 0;
	}
}


.c-nav-main {
	&--link h2 {

		@include media("<medium") {
			font-size: 1.8 * $font-size-base;
		}

		color: $color-white;
		position: relative;
		display: inline;

		&:after {
			z-index: -10;
			content: '';
			position: absolute;
			width: 0;
			height: 2px;
			display: block;
			margin-top: -5px;
			right: 0;
			background: $color-red;
			transition: width .2s ease;
		}
		
		&:hover:after {
			width: 100%;
			left: 0;
		}
	}

	&--num {
		color: $color-red;
		position: relative;
		top: .5rem;
	}

	&--item:not(:last-child) {
		margin-bottom: $space-half;
	}


}