.c-project--container {
	@include media("<medium") {
		* + * {
			margin-top: $pad;
		}
	}
	@include media(">=medium") {
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		overflow: hidden;
	}
}

.c-project {
	display: block;
	position: relative;

	@include media(">=medium") {
		position: absolute;
		width: 70vw;
		max-width: 1200px;
		height: 60vh;
		max-height: 670px;
		top: 50%;
		left: 50%;
		transform: translate(calc(-50% - 1rem), -50%);
		transition: top .7s ease-out;
		display: none;

		&.active {
			display: block;

			@each $x in ("to", "from") {
				@each $y in ("Up", "Down") {
					&.#{$x}#{$y} {
						.c-project--text {
							animation: #{$x}#{$y}Long 0.6s cubic-bezier(0.45, 0.05, 0.55, 0.95) forwards;
						}
						.c-project--hero {
							animation: #{$x}#{$y}Short 0.6s cubic-bezier(0.45, 0.05, 0.55, 0.95) forwards;
						}
					}
				}
			}
		}
	}
}

.c-project--titleMobile {
	display: none;
	font-family: $font-family-secondary;
	font-weight: 500;
	font-size: $font-size-base;
	line-height: 1.5;
	background-color: $color-white;
	width: 65%;
	padding: $space-half ($space-half * 1.5);
	padding-right: $space * 1.2;

	position: absolute;
	bottom: 0;
	right: 0;

	@include media("<medium") {
		display: block;
	}

	&::after {
		position: absolute;
		top: 50%;
		right: $space-half * 1.5;
		transform: translateY(-100%) rotate(-45deg);
		content: " ";
		width: 0.6rem;
		height: 0.6rem;
		border-bottom: 2px solid $color-red;
		border-right: 2px solid $color-red;
		margin-top: 6px;
	}
}

.c-project--mobileLink {
	@include media("<medium") {
		display: relative;
		display: block;
		height: 120px;
	}
}

.c-project--text {
	background-color: $color-white;
	min-width: 320px;
	padding: $pad-triple;
	position: absolute;
	right: 0;
	bottom: 0;

	@include media("<medium") {
		display: none !important;
	}
}

.c-project--title {
	font-family: $font-family-secondary;
	font-weight: 500;
	font-size: $font-size-base * 2;
	line-height: $line-height-base;
}

.c-project--hero {
	position: absolute;
	left: 0;
	top: 0;
	right: $space-half;
	bottom: $space-half;
	overflow: hidden;

	@include media(">=medium") {
		height: unset;
		right: $space-triple;
		bottom: $space-triple;
	}

	img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.c-project--category {
	color: $color-purple;
}

.c-project--nav {
	@include media("<medium") {
		display: none;
	}

	position: fixed;
	z-index: 10;
	top: 50%;
	right: 24px;
	padding-right: inherit;
	transform: translateY(-50%);

	ul {
		list-style: none;
		padding: none;
		width: $space;
	}

	li {
		position: relative;
		border-top: 0.5rem solid transparent;
		display: block;
		cursor: pointer;
		height: $space;
		width: $space;

		&:after {
			border-radius: 5px;
			background-color: $color-white;
			position: absolute;
			content: "";
			width: $space / 2;
			right: 0;
			top: 50%;
			height: 2px;
			transition: all 0.3s ease;
		}

		&.active:after,
		&:hover:after {
			width: $space;
			// background-color: $color-red;
			// height: 5px;
		}
	}
}

$distances: (
	"Long": 160vh,
	"Short": 90vh
);

@each $name, $value in $distances {
	@keyframes toUp#{$name} {
		from {
			transform: translateY(0);
		}
		to {
			transform: translateY(-#{$value});
		}
	}

	@keyframes toDown#{$name} {
		from {
			transform: translateY(0);
		}
		to {
			transform: translateY(#{$value});
		}
	}

	@keyframes fromUp#{$name} {
		from {
			transform: translateY(-#{$value});
			opacity: 0;
		}
		to {
			transform: translateY(0);
			opacity: 1;
		}
	}

	@keyframes fromDown#{$name} {
		from {
			transform: translateY(#{$value});
			opacity: 0;
		}
		to {
			transform: translateY(0);
			opacity: 1;
		}
	}
}
