.c-project {
	display: block;
	position: relative;

	@include media(">=medium") {
		position: absolute;
		width: 70vw;
		max-width: 1200px;
		height: 60vh;
		max-height: 670px;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

.c-project--titleMobile {
	display: none;
	font-family: $font-family-secondary;
	font-weight: 500;
	font-size: $font-size-base;
	line-height: 1.5;
	background-color: $color-white;
	width: 65%;
	padding: $space-half ($space-half * 1.5);
	padding-right: $space * 1.2;

	position: absolute;
	bottom: 0;
	right: 0;

	@include media("<medium") {
		display: block;
	}

	&::after {
		position: absolute;
		top: 50%;
		right: $space-half * 1.5;
		transform: translateY(-100%) rotate(-45deg);
		content: " ";
		width: 0.6rem;
		height: 0.6rem;
		border-bottom: 2px solid $color-red;
		border-right: 2px solid $color-red;
		margin-top: 6px;
	}
}

.c-project--mobileLink {
	@include media("<medium") {
		display: relative;
		display: block;
		height: 120px;
	}
}

.c-project--text {
	background-color: $color-white;
	min-width: 320px;
	padding: $pad-triple;
	position: absolute;
	right: 0;
	bottom: 0;

	@include media("<medium") {
		display: none !important;
	}
}

.c-project--title {
	font-family: $font-family-secondary;
	font-weight: 500;
	font-size: $font-size-base * 2;
	line-height: $line-height-base;
}

.c-project--hero {
	position: absolute;
	left: 0;
	top: 0;
	right: $space-half;
	bottom: $space-half;
	overflow: hidden;

	@include media(">=medium") {
		height: unset;
		right: $space-triple;
		bottom: $space-triple;
	}

	img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.c-project--category {
	color: $color-purple;
}
