.c-background {
	z-index: -5;
}

canvas {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	pointer-events: none;
	min-height: 100vh;
}

.c-menuCanvas {
	z-index: 9;
}

.c-transitionCanvas {
	z-index: 20;
}