.c-projectInfo {
	background-color: $color-red;
	max-width: unset;
	color: $color-white;
	display: flex;
	align-items: baseline;
	justify-content: center;

	> * {
		max-width: 240px;

		margin-right: 6vw;

		&:last-child {
			margin-right: 0;
		}
	}

	@include media("<medium") {
		flex-direction: column;

		> * {
			max-width: 100%;
			margin-right: 0;

			margin-top: $pad;

			&:last-child {
				margin-bottom: $pad;
			}
		}
	}

	&--label {
		color: $color-darkPurple;
	}

	&--buttons {
	
		width: 100%;
		padding-top: $space;
		display: flex;
		@include media(">=medium") {
			display: none;
		}
	
		> * {
			flex-grow: 1;
		}
		> * + * {
			margin-left: $space-half;
		}


		button {
			width: 100%;

			border-color: $color-white;
			color: $color-white;

			&::after {
				background: $color-white;
			}

			&:hover {
				color: $color-white;
			}

			&:active {
				color: $color-red;
				background-color: $color-white;
			}
		}
	}
}
