.c-header {
	&--bar {
		position: fixed;
		left: 0;
		right: 0;
		// top: 0;
		padding: $pad;
		z-index: 25;
		display: flex;
		justify-content: space-between;
		transition: all .3s ease;
		
		&::before {
			content:"";
			left: 0;
			right: 0;
			position: absolute;
			transition: all .3s ease;
			height: 100%;
			bottom: 100%;
			background-color: $color-darkPurple;
		}

		&.scroll {
			&::before {
				bottom: 0;
			}
		}

		@include media(">mlarge") {
			padding-left: $pad * 4;
			padding-right: $pad * 4;
			padding-top: $pad * 4;
			
			&.scroll {
				padding-top: $pad;
			}
		}
		pointer-events: none;

		> * {
			pointer-events: all;
		}
		align-items: center;
	}


	&--hamburger {
		filter: drop-shadow(2px 2px  $color-darkPurple);
		border: $line-width solid $color-red;
		width: $space-double;
		height: $space-double;
		background: none;
		padding: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		transition: border-color .1s ease-out;

		&:hover {
			border-color: $color-white;
		}


		@include media(">=medium") {
			width: $space * 2.5;
			height: $space * 2.5;
		}

		&Wrapper {
			border: none;
			width: 22px;
			height: 12px;
			position: relative;
			padding: 0;
		}
		

		span {
			display: block;
			position: absolute;
			height: $line-width;
			width: 100%;
			background: $color-white;
			border-radius: 9px;
			opacity: 1;
			left: 0;
			transform: rotate(0deg);
			transition: .25s ease-in-out;

			&:nth-child(1) {
				top: 0px;
			}
			  
			&:nth-child(2),&:nth-child(3) {
				top: 50%;
			}
			
			&:nth-child(4) {
				top: 100%;
			}
			
		}

		&.open {
			span:nth-child(1) {
				top: 0%;
				width: 0%;
				left: 50%;
			}

			span:nth-child(2) {
				transform: rotate(45deg);
			  }

			span:nth-child(3) {
				transform: rotate(-45deg);
			}

			span:nth-child(4) {
				top: 100%;
				width: 0%;
				left: 50%;
			}	
		}
	}

	&--logo {
		border: $color-white 3px solid;
		border-right-color: transparent;
		border-radius: 200px;
		width: 60px;
		height: 60px;
		filter: drop-shadow(2px 2px $color-darkPurple);
		transition: border-width .2s ease;
		
		&:hover {
			border-width: 20px;
		}
		
		@include media("<medium") {
			width: 44px;
			height: 44px;

			&:hover {
				border-width: 15px;
			}
		}
	}

	&--title {

		color: $color-white;
		font-family: $font-family-primary;
		font-weight:600;
		font-size: $font-size-base * 2.5;
		position: relative;

		@include media("<mlarge") {
			font-size: $font-size-base * 1.8;
		}

		@include media(">=medium") {
			background-color: $color-darkPurple;
			padding: $pad/2 $pad;
			transition: background-color .3s ease;
			
			&:hover {
				background-color: $color-red;
			}
	
			&:active {
				color: $color-white;
			}
		}

		

	}

	
}
