$breakpoints: (
    xsmall: ((300 / 16) * 1em),
    small: ((400 / 16) * 1em),
    medium: ((500 / 16) * 1em),
    tablet: ((768 / 16) * 1em),
    mlarge: ((850 / 16) * 1em),
    xlarge: ((950 / 16) * 1em),
    xxlarge: ((1024 / 16) * 1em),
    xxxlarge: ((1300 / 16) * 1em),
    maxWidth: ((1420 / 16) * 1em),
    xlDesktop: ((2100 / 16) * 1em));
@if $showMediaQueryPreview==true {
  body {
    &:before {
  		position: fixed;
  		right: 0;
  		bottom: 0;
  		z-index: 100000;
  		display: block;
  		padding: 0.5em 1em;
  		color: transparentize(#FFFFFF, 0.25);
  		content: "No Media Query";
  		font-size: (12/16)+em;
  		background: black;
  		border-top-left-radius: 10px;
  		@media print {
  			display: none;
  		}
  	}
  	&:after {
  		position: fixed;
  		right: 0;
  		bottom: 0;
  		left: 0;
  		z-index: (100000-1);
  		display: block;
  		height: 5px;
  		content: "";
  		background: black;
  		@media print {
  			display: none;
  		}
  	}
  	@include media(">xsmall") {
  		&:before {
  			content: "xsmall: 300px";
  		}
  		&:after,
  		&:before {
  			background: dodgerblue;
  		}
  	}
  	@include media(">small") {
  		&:before {
  			content: "small: 400px";
  		}
  		&:after,
  		&:before {
  			background: darkseagreen;
  		}
  	}
  	@include media(">medium") {
  		&:before {
  			content: "medium: 500px";
  		}
  		&:after,
  		&:before {
  			background: lightcoral;
  		}
  	}
  	@include media(">xlarge") {
  		&:before {
  			content: "tablet: 768px";
  		}
  		&:after,
  		&:before {
  			background: mediumvioletred;
  		}
  	}
  	@include media(">mlarge") {
  		&:before {
  			content: "mlarge: 850px";
  		}
  		&:after,
  		&:before {
  			background: green;
  		}
  	}
  	@include media(">xlarge") {
  		&:before {
  			content: "xlarge: 950px";
  		}
  		&:after,
  		&:before {
  			background: hotpink;
  		}
  	}
  	@include media(">xxlarge") {
  		&:before {
  			content: "xxlarge: 1024px";
  		}
  		&:after,
  		&:before {
  			background: orangered;
  		}
  	}
  	@include media(">xxxlarge") {
  		&:before {
  			content: "xxxlarge: 1300px";
  		}
  		&:after,
  		&:before {
  			background: dodgerblue;
  		}
  	}
  	@include media(">maxWidth") {
  		&:before {
  			content: "maxWidth: 1500px";
  		}
  		&:after,
  		&:before {
  			background: red;
  		}
  	}
  	@include media(">xlDesktop") {
  		&:before {
  			content: "XL Desktop: 2100px";
  		}
  		&:after,
  		&:before {
  			background: green;
  		}
  	}

  }
}
