// Typography
$font-size-base: 1rem;
$line-height-base: 1.5;

// Colors
$color-white: #ffffff;
$color-red: #ff446d;
$color-purple: #7C247A;
$color-darkPurple: #25134b;

/**
 *
 * Fonts
 *
 **/

$font-family-primary: 'Montserrat', Helvetica, sans-serif;
$font-family-secondary: 'Lato', Helvetica, sans-serif;


.u-font {
	&-alpha {
		font-family: $font-family-primary;
		font-weight: 600;
		text-transform: uppercase;
		font-size: $font-size-base * 0.8;
		line-height: $line-height-base;
		letter-spacing: 2px;
	}
	
	&-beta {
		font-family: $font-family-secondary;
		font-weight: 500;
		font-size: $font-size-base;
		line-height: $line-height-base;
	}
	
	&-gamma {
		font-family: $font-family-primary;
		font-weight: 600;
		text-transform: uppercase;
		font-size: $font-size-base * 0.8;
		line-height: $line-height-base;
		letter-spacing: 2px;
	}

	&-delta {
		font-family: $font-family-secondary;
		font-weight: 300;
		font-size: $font-size-base * 2.8;
		line-height: $line-height-base;
		letter-spacing: 2px;
	}
	
	&-epsilon {
		font-family: $font-family-secondary;
		font-weight: 400;
		font-size: $font-size-base * 1.2;
		line-height: $line-height-base;
		letter-spacing: 2px;
	}
}

/**
 * Default Spacing/Padding
 */

$space: 24px;
$space-quarter: $space/4;
$space-half: $space/2;
$space-and-half: $space * 1.5;
$space-double: $space * 2;
$space-triple: $space * 3;
$space-quad: $space * 4;
$pad: 16px;
$pad-large: $pad * 4;
$pad-half: $pad/2;
$pad-and-half: $pad * 1.5;
$pad-double: $pad * 2;
$pad-triple: $pad * 3;
$gutter: 50px;


$line-width: 2px;

$content-maxWidth: 800px;