.l-split {
	&--flex {
		@include media(">xlarge") {
			flex-wrap: nowrap;
			display: flex;
		}
		& > .column {
			width: 100%;

			@include media(">xlarge") {
				flex: 1;
				margin-right: 160px;
				&:last-child {
					margin-right: 0;
				}
			}
		}
	}
	&--2 {
		@include media(">xlarge") {
			display: flex;
		}
		& > .column {
			width: 100%;

			@include media(">xlarge") {
				width: 50%;
				&:first-child {
					margin-right: 50px;
				}
				&:last-child {
					margin-left: 50px;
				}
			}
		}
	}
	&--2-1 {
		@include media(">xlarge") {
			display: flex;
		}
		& > .column {
			width: 100%;

			@include media(">xlarge") {
				&:first-child {
					width: 60%;
					margin-right: 50px;
				}
				&:last-child {
					width: 40%;
					margin-left: 50px;
				}
			}
		}
	}
	&--3 {
		width: 100%;
		clear: both;

		@include media(">xlarge") {
			display: flex;
		}
		& > .column {
			width: 100%;

			@include media(">xlarge") {
				width: 33.3%;
				&:first-child {
					margin-right: 25px;
				}
				&:nth-child(2) {
					margin-right: 25px;
					margin-left: 25px;
				}
				&:last-child {
					margin-left: 25px;
				}
			}
		}
	}
}
