<form class="c-form">
  <p class="successMessage">
    Your message has been sent!
  </p>
  <input type="hidden" name="action" value="contact_send" />
  <label class="u-font-alpha" for="name">name</label>
  <input required type="text" name="name"  />
  <label class="u-font-alpha" for="email">email</label>
  <input required type="email" name="email"  />
  <label class="u-font-alpha" for="message">message</label>
  <textarea required name="message" ></textarea>
  <input class="u-font-alpha" type="submit" value="submit" />
</form>
