<header>
	<div class="c-header--bar">
		<button class="c-header--hamburger js-wave-toggleMenu">
			<div class="c-header--hamburgerWrapper">
				<span></span>
				<span></span>
				<span></span>
				<span></span>
			</div>
		</button>
	</div>
</header>
