<section class="c-hero">
    <div class="c-hero--text">
        <h4 class="c-project--category u-font-gamma">{{ project.category }}</h4>
        <h2 class="c-project--title">{{ project.title }}</h2>
        <h4>{{project.subtitle}}</h4>
    </div>
</section>