<section class="c-prevNext">
	{% if next %}
	<a class="c-prevNext--next  l-mainPadding" href="{{next.link}}">
		<div class="arrow"></div>
		<div class="text">
			<h4 class="u-font-gamma">next</h4>
			<h3 class="u-font-epsilon">{{next.title}}</h3>
		</div>
	</a>
	{% endif %}
	{% if prev %}
	<a class="c-prevNext--prev  l-mainPadding" href="{{prev.link}}">
		<div class="text">
			<h4 class="u-font-gamma">previous</h4>
			<h3 class="u-font-epsilon">{{prev.title}}</h3>
		</div>
		<div class="arrow"></div>
	</a>
	{% endif %}
</section>